* {
  box-sizing: border-box;
  font-family: 'Reenie Beanie', cursive;
  color: white;
  background-color: #009DA0;
}

#content {
  margin: 50px auto;
  width: 500px;
}

header {
  font-family: 'Josefin Sans', cursive;
  font-size: 65px;
  text-align: center;
  margin: auto;
  padding: 20px 10px 10px;
  letter-spacing: 10px;
}

p {
  font-family: 'Josefin Sans', cursive;
  margin: 0 auto 50px;
  letter-spacing: 5px;
  text-align: center;
  font-size: 12px;
}

p a {
  font-family: 'Josefin Sans', cursive;
  text-decoration: none;
}

p a:hover {
  color: #FFC300  ;
}


#message {
  text-align: center;
  display:block;
  margin: 0 auto 35px;
  letter-spacing: 3px;
  font-size: 40px;
}

#board {
  border-collapse: collapse;
  margin:auto;
  font-size: 30px;
}

#board td {
  border: #005355 solid 4px;
  width: 100px;
  height:100px;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  font-size: 40px;
}

#board .top {
  border-top: 0;
}

#board .left {
  border-left: 0;
}

#board .right {
  border-right: 0;
}

#board .bottom {
  border-bottom: 0;
}

.results {
  margin: 20px auto;
  text-align: center;
}

#winner {
  font-size: 50px;
  margin: auto;
  padding: 10px;
  letter-spacing: 3px;
}

#restart {
  font-size: 30px;
   margin: auto;
  padding: 10px;
  letter-spacing: 3px;
}

#restart:hover {
  color: #FFC300  ;
  cursor: pointer;
}






