* {
  box-sizing: border-box;
  font-family: 'Rock Salt', cursive;
}

header {
  font-size: 40px;
  text-align: center;
  margin: 30px auto ;
  padding: 10px auto 5px auto;
}

p {
  text-align:center;
  padding: 0;
}

#board {
  border-collapse: collapse;
  margin:auto;
  font-size: 30px;
}

#board td {
  border: black solid 2px;
  width: 75px;
  height:75px;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

#board .top {
  border-top: 0;
}

#board .left {
  border-left: 0;
}

#board .right {
  border-right: 0;
}

#board .bottom {
  border-bottom: 0;
}

#playAgain {
  font-size: 12px;
  margin: 30px auto;
  text-align:center;
  padding: 5px;
  background-color: white;
  display: block;
}







